* {
    user-select: none;
    cursor: auto;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body {
    background-color: #1A1A1A;
    color: white;
}

.container {
    display: block;
    margin: 10% auto;
    width: 80%;
}

.formUnlock, .formLock {
    text-align: center;
}